# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.opensdf
*.sdf
Debug/
Release/
ArtsyFartsySDL/Debug/
ArtsyFartsySDL/Debug/*
Wwise/
ArtsyFartsySDL.sdf
ArtsyFartsySDL.sdf
*.suo
*.log
ArtsyFartsySDL/Debug/main.obj
ArtsyFartsySDL/Debug/vc120.idb
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/link.write.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/link.read.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/link.command.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/CL.write.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/CL.read.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/cl.command.1.tlog
ArtsyFartsySDL/Debug/ArtsyFartsySDL.tlog/ArtsyFartsySDL.lastbuildstate
ArtsyFartsySDL/Debug/vc120.pdb